<h1> YOU MADE IT </h1>
<%= @user.name %>
<br>
<h2><%= link_to "Enter the library", @gallery %><h2>
<p><%= link_to "View the known libraries", galleries_path %></p>
<p>Times you've logged in: <%= @log %></p>
<%= link_to "Your logout page", @user %><br>

<% if @user.id == 1 %>
<%= link_to "Delete the pocket", delete_pocket_path, method: 'delete' %>
<% end %>