<h1> YOU MADE IT </h1>
<%= @user.name %>

<!-- <%= link_to "Enter the library", @user.galleries.last %> -->

<%= link_to "Return", login_path %>

<p>Times you've logged in:</p>

<%= @log %>

<%= link_to "Your logout page", @user %>

<% if @user.id == 1 %>
<%= link_to "Delete the pocket", delete_pocket_path, method: 'delete' %>
<% end %>