<center><h1>Citizens of the Libraries</h1>
<br>
<% @users.all.each do |user| %>
    <h4><%= user.name %></h4>
    <% if user.galleries[0] %>
        <%= "in gallery [#{user.galleries[-1].x_axis}, #{user.galleries[-1].z_axis}]" %><br><br>
        <% rand_quote_id = rand(1..Quote.count) %>
        <% rand_quote = Quote.find_by_id(rand_quote_id) %>
        <%= rand_quote.text %>
    <% else %>
        <%= "waiting" %>
    <% end %>
    <br>
<% end %>
<br>
<%= render "/galleries/form" %>
</center>