
<h3><%= flash[:notice] %></h3>
<br>
<%= link_to "Try again", login_path %>
<br>
<h3>...are you new? </h3>

<%= form_for @user do |f| %>
What is your name? <%= f.text_field :name %>
<br>
Create a passphrase: <%= f.password_field :password %>
    <%= f.submit "Enter" %>
<% end %>
